@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply container max-w-screen-xl mx-auto px-4 md:px-8 lg:px-4;
}

.large_text {
  @apply text-[22px] md:text-3xl xl:text-[40px] leading-[55px] lg:leading-[70px] font-bold;
}

.big_text {
  @apply text-base md:text-2xl xl:text-[29px] !font-normal leading-10 xl:leading-[60px];
}

.medium_text {
  @apply font-medium text-lg md:text-[22px] leading-[41px] !font-SpaceG;
}

.small_text {
  @apply text-base md:text-lg !font-SpaceG;
}

.second_large {
  @apply text-lg md:text-2xl lg:text-[26px] leading-[42px] md:leading-[50px] lg:leading-[70px] font-bold;
}

.second_small {
  @apply text-base md:text-lg lg:text-xl !font-SpaceG !leading-[40px] md:!leading-[50px];
}

.how_it_works {
  background-position: right center;
}

@media (min-width: 1024px) {
  .how_it_works {
    background-position: right bottom -65px;
  }
}

.opa_bg {
  border-radius: 10px;
  background: rgba(0, 27, 38, 0.4);
}

.about-bg {
  background-image: url("../public/aboutBgM_one.svg"),
    url("../public/aboutBgM_two.svg");
  background-size: contain, contain;
  background-position: bottom left -10px, top right;
  background-repeat: no-repeat;
}

@media (min-width: 1440px) {
  .about-bg {
    background-image: url("../public/aboutBg_one.svg"),
      url("../public/aboutBg_two.svg");
    background-size: contain, contain;
    background-position: left, top right;
    background-repeat: no-repeat;
  }
}

/* :root {
  --cards: 2;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), auto);
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  position: relative;
}

#cognitive {
  --index: 1;
}
#cognitive_two {
  --index: 2;
}

.card {
  position: sticky !important;
  top: 120px;
  padding-top: calc(var(--index) * var(--cardTopPadding));
} */
