@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply container max-w-screen-xl mx-auto px-4 md:px-8 lg:px-4;
}

.large_text {
  @apply text-[22px] md:text-3xl xl:text-[40px] leading-[55px] lg:leading-[70px] font-bold;
}

.big_text {
  @apply text-base md:text-2xl xl:text-[29px] font-normal leading-10 xl:leading-[60px];
}

.medium_text {
  @apply font-medium text-lg md:text-[22px] leading-[41px] font-SpaceG;
}

.small_text {
  @apply text-base md:text-lg font-SpaceG;
}

.second_large {
  @apply text-lg md:text-2xl lg:text-[26px] leading-[42px] md:leading-[50px] lg:leading-[70px] font-bold;
}

.second_small {
  @apply text-base md:text-lg lg:text-xl leading-[40px] md:leading-[50px];
}

.how_it_works {
  background-position: right center;
}

@media (min-width: 1024px) {
  .how_it_works {
    background-position: right bottom -65px;
  }
}

.opa_bg {
  border-radius: 10px;
  background: rgba(0, 27, 38, 0.4);
}
